.item{
    justify-content: center;
  align-self: center;
}
.box{
   box-sizing: border-box;
   width:250px; /* or whatever width you want. */
   max-width:250px; /* or whatever width you want. */
   display: inline-block;
}
